<html>
	<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Changelog - Hellfest 2022 bands quick search</title>
	</head>
</html>
<h1>Changelog</h1>

 <ul>
	 <li>Version 0.2.0 - 2022-04-21
	 <ul>
		 <li>Added:
		 <ul>
			 <li>App available in WEB :)</li>
		 </ul>
		 </li>
	 </ul>
	 </li>
 	 <li>Version 0.1.0 - 2022-04-21
	 <ul>
		 <li>Added:
		 <ul>
			 <li>Button to go to page top</li>
			 <li>Links to official show times (Hellfest 2022 site)</li>
			 <li>Text search bar (search by band, by stage, by show time and by show date)</li>
			 <li>List of all bands that will play in Hellfest 2022</li>
		 </ul>
		 </li>
	 </ul>
	 </li>
</ul>
