<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

#myInput {
  background-image: url('/css/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>
  <title>Hellfest 2022 bands quick search</title>
</head>
<body>

<h1>Hellfest 2022 Bands Quick Search</h1>

<p style="font-size: 18px;">A basic search tool to quick find bands that will play in <a href="https://www.hellfest.fr/en/" target="_blank" rel="noopener noreferrer">Hellfest 2022</a> (sorry about poor design, <a href="#site-details">I'm backend developer</a>) .
<p style="font-size: 18px;">The goal is help you to organize your list of shows to see. This is an independent site, so the show times can be changed by festival organization before changes here.</p>
<p style="font-size: 18px;">Most updated show times: 
  <table style="border-collapse: collapse;  width: 100%;">
    <tr class="header">
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-1?filter=day-1" target="_blank" rel="noopener noreferrer">FRI - 2022-06-17</a></th>
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-1?filter=day-2" target="_blank" rel="noopener noreferrer">SAT - 2022-06-18</a></th>
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-1?filter=day-3" target="_blank" rel="noopener noreferrer">SUN - 2022-06-19</a></th>
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-2?filter=day-1" target="_blank" rel="noopener noreferrer">THU - 2022-06-23</a></th>
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-2?filter=day-2" target="_blank" rel="noopener noreferrer">FRI - 2022-06-24</a></th>
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-2?filter=day-3" target="_blank" rel="noopener noreferrer">SAT - 2022-06-25</a></th>
      <th style="width:14%;"><a href="https://www.hellfest.fr/en/line-up/part-2?filter=day-4" target="_blank" rel="noopener noreferrer">SUN - 2022-06-26</a></th>
    </tr>
  </table>
</p>

<input type="text" id="myInput" onkeyup="searchEngine()" placeholder="Search for bands..." title="Type in a band name">

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<table id="myTable">

  <tr class="header">
    <th style="width:45%;">Band</th>
    <th style="width:15%;">Show Date</th>
    <th style="width:20%;">Hour</th>
    <th style="width:20%;">Stage</th>
  </tr>
  
  <tr>
    <td>FROG LEAP</td>
    <td>FRI - 2022-06-17</td>
    <td>11:05 AM- 11:35 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>FEROCIOUS DOG</td>
    <td>FRI - 2022-06-17</td>
    <td>12:05 PM - 12:45 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>BURNING HEADS</td>
    <td>FRI - 2022-06-17</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>THE INSPECTOR CLUZO</td>
    <td>FRI - 2022-06-17</td>
    <td>03:05 PM - 03:50 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>FRANK CARTER & THE RATTLESNAKES</td>
    <td>FRI - 2022-06-17</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>THE OFFSPRING</td>
    <td>FRI - 2022-06-17</td>
    <td>06:40 PM- 07:40 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>DROPKICK MURPHY’S</td>
    <td>FRI - 2022-06-17</td>
    <td>08:50 PM - 10:05 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>DEFTONES</td>
    <td>FRI - 2022-06-17</td>
    <td>11:35 PM - 12:50 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>  
  
  <tr>
    <td>LAURA COX</td>
    <td>FRI - 2022-06-17</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>EGO KILL TALENT</td>
    <td>FRI - 2022-06-17</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>SOEN</td>
    <td>FRI - 2022-06-17</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>LEPROUS</td>
    <td>FRI - 2022-06-17</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>SHINEDOWN</td>
    <td>FRI - 2022-06-17</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>OPETH</td>
    <td>FRI - 2022-06-17</td>
    <td>05:35 PM - 06:35 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>MASTODON</td>
    <td>FRI - 2022-06-17</td>
    <td>07:45 PM - 08:45 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>FIVE FINGER DEATH PUNCH</td>
    <td>FRI - 2022-06-17</td>
    <td>10:10 PM - 11:30 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>
    
  <tr>
    <td>VOLBEAT</td>
    <td>FRI - 2022-06-17</td>
    <td>12:55 AM - 02:05 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>MORTIS MUTILATI</td>
    <td>FRI - 2022-06-17</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>NUMEN</td>
    <td>FRI - 2022-06-17</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MEPHORASH</td>
    <td>FRI - 2022-06-17</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>SETH</td>
    <td>FRI - 2022-06-17</td>
    <td>03:05 PM - 03:50 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>THE GREAT OLD ONES</td>
    <td>FRI - 2022-06-17</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ROTTING CHRIST</td>
    <td>FRI - 2022-06-17</td>
    <td>06:40 PM - 07:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>PRIMORDIAL</td>
    <td>FRI - 2022-06-17</td>
    <td>08:50 PM - 09:45 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ABBATH</td>
    <td>FRI - 2022-06-17</td>
    <td>10:55 PM - 11:55 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MAYHEM</td>
    <td>FRI - 2022-06-17</td>
    <td>01:05 AM - 02:05 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>SHADE AND DUST</td>
    <td>FRI - 2022-06-17</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>NECROWRETCH</td>
    <td>FRI - 2022-06-17</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>ENFORCED</td>
    <td>FRI - 2022-06-17</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>CADAVER</td>
    <td>FRI - 2022-06-17</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>GATECREEPER</td>
    <td>FRI - 2022-06-17</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>NECROPHOBIC</td>
    <td>FRI - 2022-06-17</td>
    <td>05:35 PM - 06:35 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>GRAVE</td>
    <td>FRI - 2022-06-17</td>
    <td>07:45 PM - 08:45 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>AT THE GATES</td>
    <td>FRI - 2022-06-17</td>
    <td>09:50 PM - 10:50 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DEATH DTA</td>
    <td>FRI - 2022-06-17</td>
    <td>12:00 AM - 01:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
  <td>ABRAHMA</td>
  <td>FRI - 2022-06-17</td>
  <td>10:30 AM - 11:00 AM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>GREENLEAF</td>
  <td>FRI - 2022-06-17</td>
  <td>11:40 AM - 12:10 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>ASG</td>
  <td>FRI - 2022-06-17</td>
  <td>12:50 PM - 01:30 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>ELDER</td>
  <td>FRI - 2022-06-17</td>
  <td>02:20 PM - 03:00 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>WITCHCRAFT</td>
  <td>FRI - 2022-06-17</td>
  <td>03:55 PM - 06:35 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>BLACK MOUNTAIN</td>
  <td>FRI - 2022-06-17</td>
  <td>05:35 PM - 06:35 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>HIGH ON FIRE</td>
  <td>FRI - 2022-06-17</td>
  <td>07:45 PM - 08:45 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>BARONESS</td>
  <td>FRI - 2022-06-17</td>
  <td>09:50 PM - 10:50 PM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
  <td>ELECTRIC WIZARD</td>
  <td>FRI - 2022-06-17</td>
  <td>12:00 AM - 01:00 AM</td>
  <td>VALLEY</td>
  </tr>

  <tr>
    <td>NO TURNING BACK</td>
    <td>FRI - 2022-06-17</td>
    <td>06:40 PM - 07:40 PM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>SUICIDAL TENDENCIES</td>
    <td>FRI - 2022-06-17</td>
    <td>01:05 AM - 02:05 AM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>SLAPSHOT</td>
    <td>FRI - 2022-06-17</td>
    <td>To be defined</td>
    <td>WARZONE</td>
  </tr>
  
  <tr>
    <td>IN OTHER CLIMES</td>
    <td>FRI - 2022-06-17</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>HIGHER POWER</td>
    <td>FRI - 2022-06-17</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>RUDEBOY PLAYS URBAN DANCE SQUAD</td>
    <td>FRI - 2022-06-17</td>
    <td>03:05 PM - 03:55 PM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>MORDRED</td>
    <td>FRI - 2022-06-17</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>DOG EAT DOG</td>
    <td>FRI - 2022-06-17</td>
    <td>08:50 PM - 09:45 PM</td>
    <td>WARZONE</td>
  </tr>
  
  
  <tr>
    <td>CRO-MAGS</td>
    <td>FRI - 2022-06-17</td>
    <td>10:55 PM - 11:55 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>FIRE FROM THE GODS</td>
    <td>SAT - 2022-06-18</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>CRYSTAL LAKE</td>
    <td>SAT - 2022-06-18</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>KNOCKED LOOSE</td>
    <td>SAT - 2022-06-18</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>SKILLET</td>
    <td>SAT - 2022-06-18</td>
    <td>03:05 PM - 03:50 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>HEAVEN SHALL BURN</td>
    <td>SAT - 2022-06-18</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>RIVAL SONS</td>
    <td>SAT - 2022-06-18</td>
    <td>06:30 PM - 07:20 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>MEGADETH</td>
    <td>SAT - 2022-06-18</td>
    <td>08:30 PM - 09:45 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>GHOST</td>
    <td>SAT - 2022-06-18</td>
    <td>11:10 PM - 12:45 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>TITAN</td>
    <td>SAT - 2022-06-18</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>GALACTIC EMPIRE</td>
    <td>SAT - 2022-06-18</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>THE DEAD DAISIES</td>
    <td>SAT - 2022-06-18</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>LAST TEMPTATION</td>
    <td>SAT - 2022-06-18</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>THE DARKNESS</td>
    <td>SAT - 2022-06-18</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>ALESTORM</td>
    <td>SAT - 2022-06-18</td>
    <td>05:35 PM - 06:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>STEEL PANTHER</td>
    <td>SAT - 2022-06-18</td>
    <td>07:25 PM - 08:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DEEP PURPLE</td>
    <td>SAT - 2022-06-18</td>
    <td>09:50 PM - 11:05 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>AIRBOURNE</td>
    <td>SAT - 2022-06-18</td>
    <td>01:00 AM - 02:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>ARTÚS</td>
    <td>SAT - 2022-06-18</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>AKTARUM</td>
    <td>SAT - 2022-06-18</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>HELHEIM</td>
    <td>SAT - 2022-06-18</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>EINHERJER</td>
    <td>SAT - 2022-06-18</td>
    <td>03:05 PM - 03:50 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>KAMPFAR</td>
    <td>SAT - 2022-06-18</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>TAAKE</td>
    <td>SAT - 2022-06-18</td>
    <td>06:30 PM - 07:20 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ENSIFERUM</td>
    <td>SAT - 2022-06-18</td>
    <td>08:30 PM - 09:30 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>SKÁLD</td>
    <td>SAT - 2022-06-18</td>
    <td>10:40 PM - 11:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>VREID 1184 WINDIR SHOW</td>
    <td>SAT - 2022-06-18</td>
    <td>01:00 AM - 02:05 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>KARRAS</td>
    <td>SAT - 2022-06-18</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>BRUTAL SPHINCTER</td>
    <td>SAT - 2022-06-18</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>RECTAL SMEGMA</td>
    <td>SAT - 2022-06-18</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>XENTRIX</td>
    <td>SAT - 2022-06-18</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>LOUDBLAST</td>
    <td>SAT - 2022-06-18</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>EXCITER</td>
    <td>SAT - 2022-06-18</td>
    <td>05:35 PM - 06:25 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>FLOTSAM AND JETSAM</td>
    <td>SAT - 2022-06-18</td>
    <td>07:25 PM - 08:25 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>SEPULTURA</td>
    <td>SAT - 2022-06-18</td>
    <td>09:35 PM - 10:35 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>SACRED REICH</td>
    <td>SAT - 2022-06-18</td>
    <td>11:45 PM - 12:45 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>POINT MORT</td>
    <td>SAT - 2022-06-18</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>DUEL</td>
    <td>SAT - 2022-06-18</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>THE PICTUREBOOKS</td>
    <td>SAT - 2022-06-18</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>ME AND THAT MAN</td>
    <td>SAT - 2022-06-18</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>THE VINTAGE CARAVAN</td>
    <td>SAT - 2022-06-18</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>PELICAN</td>
    <td>SAT - 2022-06-18</td>
    <td>05:35 PM - 06:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>MESSA</td>
    <td>SAT - 2022-06-18</td>
    <td>07:25 PM - 08:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>MONO AND THE JO QUAIL QUARTET</td>
    <td>SAT - 2022-06-18</td>
    <td>09:35 PM - 10:35 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>ENVY</td>
    <td>SAT - 2022-06-18</td>
    <td>11:45 PM - 12:45 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>GRADE 2</td>
    <td>SAT - 2022-06-18</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>LION’S LAW</td>
    <td>SAT - 2022-06-18</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>GUERILLA POUBELLE</td>
    <td>SAT - 2022-06-18</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>FRUSTRATION</td>
    <td>SAT - 2022-06-18</td>
    <td>03:05 PM - 03:55 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>WASHINGTON DEAD CATS</td>
    <td>SAT - 2022-06-18</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>AGNOSTIC FRONT</td>
    <td>SAT - 2022-06-18</td>
    <td>06:30 PM - 07:20 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>THE TOY DOLLS</td>
    <td>SAT - 2022-06-18</td>
    <td>08:30 PM - 09:30 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>SOCIAL DISTORTION</td>
    <td>SAT - 2022-06-18</td>
    <td>10:40 PM - 11:40 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>ANTI-FLAG</td>
    <td>SAT - 2022-06-18</td>
    <td>01:00 AM - 02:05 AM </td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>DEADLY APPLES</td>
    <td>SUN - 2022-06-19</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>KONTRUST</td>
    <td>SUN - 2022-06-19</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>LACUNA COIL</td>
    <td>SUN - 2022-06-19</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>CODE ORANGE</td>
    <td>SUN - 2022-06-19</td>
    <td>03:05 PM - 03:50 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>JINJER</td>
    <td>SUN - 2022-06-19</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>MAXIMUM THE HORMONE</td>
    <td>SUN - 2022-06-19</td>
    <td>06:30 PM - 07:20 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>KORN</td>
    <td>SUN - 2022-06-19</td>
    <td>08:30 PM - 09:45 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>GOJIRA</td>
    <td>SUN - 2022-06-19</td>
    <td>11:15 PM - 12:45 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>STENGAH</td>
    <td>SUN - 2022-06-19</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>TEMPT</td>
    <td>SUN - 2022-06-19</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>SORTILEGE</td>
    <td>SUN - 2022-06-19</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>BATTLE BEAST</td>
    <td>SUN - 2022-06-19</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DORO</td>
    <td>SUN - 2022-06-19</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>MICHAEL SCHENKER</td>
    <td>SUN - 2022-06-19</td>
    <td>05:35 PM - 06:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DOWN</td>
    <td>SUN - 2022-06-19</td>
    <td>07:25 PM - 08:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>JUDAS PRIEST</td>
    <td>SUN - 2022-06-19</td>
    <td>09:50 PM - 11:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>RUNNING WILD</td>
    <td>SUN - 2022-06-19</td>
    <td>12:50 AM - 02:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DELIVERANCE</td>
    <td>SUN - 2022-06-19</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>PENITENCE ONIRIQUE</td>
    <td>SUN - 2022-06-19</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>CÂN BARDD</td>
    <td>SUN - 2022-06-19</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>REGARDE LES HOMMES TOMBER</td>
    <td>SUN - 2022-06-19</td>
    <td>03:05 PM - 03:55 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>GAAHLS WYRD</td>
    <td>SUN - 2022-06-19</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>BORKNAGAR</td>
    <td>SUN - 2022-06-19</td>
    <td>06:30 PM - 07:20 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>1349</td>
    <td>SUN - 2022-06-19</td>
    <td>08:30 PM - 09:30 PM</td>
    <td>TEMPLE</td>    
  </tr>

  <tr>
    <td>ALCEST</td>
    <td>SUN - 2022-06-19</td>
    <td>10:40 PM - 11:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>WATAIN</td>
    <td>SUN - 2022-06-19</td>
    <td>12:50 AM - 02:00 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MONUMENTS</td>
    <td>SUN - 2022-06-19</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>MISERY INDEX</td>
    <td>SUN - 2022-06-19</td>
    <td>To be defined</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>EXOCRINE</td>
    <td>SUN - 2022-06-19</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DYSCARNATE</td>
    <td>SUN - 2022-06-19</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>INGESTED</td>
    <td>SUN - 2022-06-19</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>HOUR OF PENANCE</td>
    <td>SUN - 2022-06-19</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DYING FETUS</td>
    <td>SUN - 2022-06-19</td>
    <td>07:25 PM - 08:25 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DEVIN TOWNSEND (by request show)</td>
    <td>SUN - 2022-06-19</td>
    <td>09:35 PM - 10:35 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>CORONER</td>
    <td>SUN - 2022-06-19</td>
    <td>11:45 PM - 12:45 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>ECSTATIC VISION</td>
    <td>SUN - 2022-06-19</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>VILE CREATURE</td>
    <td>SUN - 2022-06-19</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>LYSISTRATA</td>
    <td>SUN - 2022-06-19</td>
    <td>12:50 PM - 01:30 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>INTER ARMA</td>
    <td>SUN - 2022-06-19</td>
    <td>02:20 PM - 03:00 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>TWIN TEMPLE</td>
    <td>SUN - 2022-06-19</td>
    <td>03:55 PM - 04:40 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>RED FANG</td>
    <td>SUN - 2022-06-19</td>
    <td>05:35 PM - 06:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>LIFE OF AGONY</td>
    <td>SUN - 2022-06-19</td>
    <td>07:25 PM - 08:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>PERTURBATOR</td>
    <td>SUN - 2022-06-19</td>
    <td>09:35 PM - 10:35 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>KILLING JOKE</td>
    <td>SUN - 2022-06-19</td>
    <td>11:45 PM - 12:45 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>GLASSBONE</td>
    <td>SUN - 2022-06-19</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>LANDMVRKS</td>
    <td>SUN - 2022-06-19</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>MOSCOW DEATH BRIGADE</td>
    <td>SUN - 2022-06-19</td>
    <td>01:35 PM - 02:15 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>JESUS PIECE</td>
    <td>SUN - 2022-06-19</td>
    <td>03:05 PM - 03:55 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>COUNTERPARTS</td>
    <td>SUN - 2022-06-19</td>
    <td>04:45 PM - 05:30 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>DEEZ NUTS</td>
    <td>SUN - 2022-06-19</td>
    <td>06:30 PM - 07:20 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>WHILE SHE SLEEPS</td>
    <td>SUN - 2022-06-19</td>
    <td>08:30 PM - 09:30 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>WALLS OF JERICHO</td>
    <td>SUN - 2022-06-19</td>
    <td>10:40 PM - 11:40 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>SICK OF IT ALL</td>
    <td>SUN - 2022-06-19</td>
    <td>12:50 AM - 02:00 AM </td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>PHIL CAMPBELL & THE BASTARD SONS</td>
    <td>THU - 2022-06-23</td>
    <td>03:30 PM - 04:10 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>THUNDER</td>
    <td>THU - 2022-06-23</td>
    <td>05:00 PM - 05:40 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>UFO</td>
    <td>THU - 2022-06-23</td>
    <td>06:30 PM - 07:15 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>WHITESNAKE</td>
    <td>THU - 2022-06-23</td>
    <td>08:25 PM - 09:40 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>SCORPIONS</td>
    <td>THU - 2022-06-23</td>
    <td>11:05 PM - 12:40 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>TYLER BRYANT & THE SHAKEDOWN</td>
    <td>THU - 2022-06-23</td>
    <td>04:15 PM - 04:55 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>THE LAST INTERNATIONALE</td>
    <td>THU - 2022-06-23</td>
    <td>05:45 PM - 06:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>STEVE VAI</td>
    <td>THU - 2022-06-23</td>
    <td>07:20 PM - 08:20 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>HELLOWEEN</td>
    <td>THU - 2022-06-23</td>
    <td>09:45 PM - 11:00 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>WARDRUNA</td>
    <td>THU - 2022-06-23</td>
    <td>12:45 AM - 02:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>LILI REFRAIN</td>
    <td>THU - 2022-06-23</td>
    <td>04:15 PM - 04:55 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>THE RUINS OF BEVERAST</td>
    <td>THU - 2022-06-23</td>
    <td>05:45 PM - 06:25 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ZEAL & ARDOR</td>
    <td>THU - 2022-06-23</td>
    <td>07:20 PM - 08:20 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>SÒLSTAFIR</td>
    <td>THU - 2022-06-23</td>
    <td>09:30 PM - 10:30 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>HEILUNG</td>
    <td>THU - 2022-06-23</td>
    <td>11:40 PM - 12:40 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>CROWN</td>
    <td>THU - 2022-06-23</td>
    <td>05:00 PM - 05:40 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>TRIBULATION</td>
    <td>THU - 2022-06-23</td>
    <td>06:30 PM - 07:15 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>INSOMNIUM</td>
    <td>THU - 2022-06-23</td>
    <td>08:25 PM - 09:25 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>SEPTICFLESH</td>
    <td>THU - 2022-06-23</td>
    <td>10:35 PM - 11:35 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>THERION</td>
    <td>THU - 2022-06-23</td>
    <td>12:45 AM - 02:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>LOS DISIDENTES DEL SUCIO MOTEL</td>
    <td>THU - 2022-06-23</td>
    <td>05:00 PM - 05:40 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>SLOMOSA</td>
    <td>THU - 2022-06-23</td>
    <td>06:30 PM - 07:15 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>LOWRIDER</td>
    <td>THU - 2022-06-23</td>
    <td>08:25 PM - 09:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>HANGMAN’S CHAIR</td>
    <td>THU - 2022-06-23</td>
    <td>10:35 PM - 11:35 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>JERRY CANTRELL</td>
    <td>THU - 2022-06-23</td>
    <td>12:45 AM - 02:00 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>WORST DOUBT</td>
    <td>THU - 2022-06-23</td>
    <td>04:15 PM - 04:55 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>DRAGGED UNDER</td>
    <td>THU - 2022-06-23</td>
    <td>05:45 PM - 06:25 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>AUGUST BURNS RED</td>
    <td>THU - 2022-06-23</td>
    <td>07:20 PM - 08:20 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>TURNSTILE</td>
    <td>THU - 2022-06-23</td>
    <td>09:30 PM - 10:30 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>RISE AGAINST</td>
    <td>THU - 2022-06-23</td>
    <td>11:40 PM - 12:40 AM </td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>FAUXX</td>
    <td>FRI - 2022-06-24</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>DEAD HEAT</td>
    <td>FRI - 2022-06-24</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>YOUTH CODE</td>
    <td>FRI - 2022-06-24</td>
    <td>01:00 PM - 01:40 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>HEALTH</td>
    <td>FRI - 2022-06-24</td>
    <td>02:30 PM - 03:15 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>NITZER EBB</td>
    <td>FRI - 2022-06-24</td>
    <td>04:10 PM - 04:55 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>KILLING JOKE</td>
    <td>FRI - 2022-06-24</td>
    <td>05:55 PM - 05:55 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>MINISTRY</td>
    <td>FRI - 2022-06-24</td>
    <td>08:35 PM - 09:50 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>NINE INCH NAILS</td>
    <td>FRI - 2022-06-24</td>
    <td>11:15 PM - 12:45 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>DISCONNECTED</td>
    <td>FRI - 2022-06-24</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>CRISIX</td>
    <td>FRI - 2022-06-24</td>
    <td>12:15 PM - 12:55 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>BLUES PILLS</td>
    <td>FRI - 2022-06-24</td>
    <td>01:45 PM - 02:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DANKO JONES</td>
    <td>FRI - 2022-06-24</td>
    <td>03:20 PM - 04:05 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DRAGONFORCE</td>
    <td>FRI - 2022-06-24</td>
    <td>05:00 PM - 05:50 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>KREATOR</td>
    <td>FRI - 2022-06-24</td>
    <td>07:15 PM - 08:30 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>MEGADETH</td>
    <td>FRI - 2022-06-24</td>
    <td>09:55 PM - 11:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>ALICE COOPER</td>
    <td>FRI - 2022-06-24</td>
    <td>12:50 AM - 02:05 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>NEIGE MORTE</td>
    <td>FRI - 2022-06-24</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>PORTRAYAL OF GUILT</td>
    <td>FRI - 2022-06-24</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>GAEREA</td>
    <td>FRI - 2022-06-24</td>
    <td>01:00 PM - 01:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>DIRTY SHIRT & TRANSYLVANIAN FOLKCORE ORCHESTRA</td>
    <td>FRI - 2022-06-24</td>
    <td>02:30 PM - 03:15 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>WITCHERY</td>
    <td>FRI - 2022-06-24</td>
    <td>04:10 PM - 04:55 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>IHSAHN</td>
    <td>FRI - 2022-06-24</td>
    <td>05:55 PM - 06:45 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MOONSPELL</td>
    <td>FRI - 2022-06-24</td>
    <td>07:45 PM - 08:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MARDUK</td>
    <td>FRI - 2022-06-24</td>
    <td>09:50 PM - 10:50 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ENSLAVED "THE ROOTS AND THE BRANCHES"</td>
    <td>FRI - 2022-06-24</td>
    <td>12:00 AM - 01:00 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>YAROTZ</td>
    <td>FRI - 2022-06-24</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>FRACTAL UNIVERSE</td>
    <td>FRI - 2022-06-24</td>
    <td>12:15 PM - 12:55 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>TEETHGRINDER</td>
    <td>FRI - 2022-06-24</td>
    <td>01:45 PM - 02:25 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DROPDEAD</td>
    <td>FRI - 2022-06-24</td>
    <td>03:20 PM - 04:05 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>BENIGHTED</td>
    <td>FRI - 2022-06-24</td>
    <td>05:00 PM - 05:50 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>GAMA BOMB</td>
    <td>FRI - 2022-06-24</td>
    <td>06:50 PM - 07:40 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>OBSCURA</td>
    <td>FRI - 2022-06-24</td>
    <td>08:45 PM - 09:45 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DEEDS OF FLESH</td>
    <td>FRI - 2022-06-24</td>
    <td>10:55 PM - 11:55 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DECAPITATED</td>
    <td>FRI - 2022-06-24</td>
    <td>01:05 AM - 02:05 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>AS A NEW REVOLT</td>
    <td>FRI - 2022-06-24</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>OKKULTOKRATI</td>
    <td>FRI - 2022-06-24</td>
    <td>12:15 PM - 12:55 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>STÖNER (brant bjork et nick oliveri)</td>
    <td>FRI - 2022-06-24</td>
    <td>01:45 PM - 02:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>HUMAN IMPACT</td>
    <td>FRI - 2022-06-24</td>
    <td>03:20 PM - 04:05 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>A.A. WILLIAMS</td>
    <td>FRI - 2022-06-24</td>
    <td>05:00 PM - 05:50 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>GODFLESH</td>
    <td>FRI - 2022-06-24</td>
    <td>06:50 PM - 07:40 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>EARTH</td>
    <td>FRI - 2022-06-24</td>
    <td>08:45 PM - 09:45 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>NEW MODEL ARMY</td>
    <td>FRI - 2022-06-24</td>
    <td>10:55 PM - 11:55 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>ATARI TEENAGE RIOT</td>
    <td>FRI - 2022-06-24</td>
    <td>01:05 AM - 02:05 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>SONS OF O’FLAHERTY</td>
    <td>FRI - 2022-06-24</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>THE BABOON SHOW</td>
    <td>FRI - 2022-06-24</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>DIRTY FONZY</td>
    <td>FRI - 2022-06-24</td>
    <td>01:00 PM - 01:40 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>POGO CAR CRASH CONTROL</td>
    <td>FRI - 2022-06-24</td>
    <td>02:30 PM - 03:15 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>OPIUM DU PEUPLE</td>
    <td>FRI - 2022-06-24</td>
    <td>04:10 PM - 04:55 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>MILLENCOLIN</td>
    <td>FRI - 2022-06-24</td>
    <td>05:55 PM - 06:45 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>LES SHERIFF</td>
    <td>FRI - 2022-06-24</td>
    <td>07:45 PM - 08:40 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>GOLDFINGER</td>
    <td>FRI - 2022-06-24</td>
    <td>09:50 PM - 10:50 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>BAD RELIGION</td>
    <td>FRI - 2022-06-24</td>
    <td>12:00 AM - 01:00 AM </td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>DIRTY HONEY</td>
    <td>SAT - 2022-06-25</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>MICHAEL MONROE</td>
    <td>SAT - 2022-06-25</td>
    <td>12:15 PM - 12:55 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>AYRON JONES</td>
    <td>SAT - 2022-06-25</td>
    <td>01:45 PM - 02:25 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>GARY CLARK JR.</td>
    <td>SAT - 2022-06-25</td>
    <td>03:20 PM - 04:05 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>MYLES KENNEDY and company</td>
    <td>SAT - 2022-06-25</td>
    <td>05:00 PM - 05:50 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>AIRBOURNE</td>
    <td>SAT - 2022-06-25</td>
    <td>07:00 PM - 08:15 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>GUNS N’ ROSES</td>
    <td>SAT - 2022-06-25</td>
    <td>09:55 PM - 12:25 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>BLIND GUARDIAN</td>
    <td>SAT - 2022-06-25</td>
    <td>12:30 AM - 02:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>EXISTANCE</td>
    <td>SAT - 2022-06-25</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>DIAMANTE</td>
    <td>SAT - 2022-06-25</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>GLORYHAMMER</td>
    <td>SAT - 2022-06-25</td>
    <td>01:00 PM - 01:40 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>SYMPHONY X</td>
    <td>SAT - 2022-06-25</td>
    <td>02:30 PM - 03:15 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>ELUVEITIE</td>
    <td>SAT - 2022-06-25</td>
    <td>04:10 PM - 04:55 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>EPICA</td>
    <td>SAT - 2022-06-25</td>
    <td>05:55 PM - 06:55 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>NIGHTWISH</td>
    <td>SAT - 2022-06-25</td>
    <td>08:20 PM - 09:50 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>LES CHANTS DE NIHIL</td>
    <td>SAT - 2022-06-25</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>AUTARKH</td>
    <td>SAT - 2022-06-25</td>
    <td>12:15 PM - 12:55 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>FEJD</td>
    <td>SAT - 2022-06-25</td>
    <td>01:45 PM - 02:25 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>CONJURER</td>
    <td>SAT - 2022-06-25</td>
    <td>03:20 PM - 04:05 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ARCTURUS</td>
    <td>SAT - 2022-06-25</td>
    <td>05:00 PM - 05:50 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>IGORRR</td>
    <td>SAT - 2022-06-25</td>
    <td>06:50 PM - 07:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MYRKUR : FOLKESANGE</td>
    <td>SAT - 2022-06-25</td>
    <td>08:40 PM - 09:40 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MOONSORROW</td>
    <td>SAT - 2022-06-25</td>
    <td>10:50 PM - 11:50 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>IN EXTREMO</td>
    <td>SAT - 2022-06-25</td>
    <td>01:00 AM - 02:00 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>DROPDEAD CHAOS</td>
    <td>SAT - 2022-06-25</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>NERO DI MARTE</td>
    <td>SAT - 2022-06-25</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>HUMANITY’S LAST BREATH</td>
    <td>SAT - 2022-06-25</td>
    <td>01:00 PM - 01:40 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>BETRAYING THE MARTYRS</td>
    <td>SAT - 2022-06-25</td>
    <td>02:30 PM - 03:15 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>SORCERER</td>
    <td>SAT - 2022-06-25</td>
    <td>04:10 PM - 04:55 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>FLESHGOD APOCALYPSE</td>
    <td>SAT - 2022-06-25</td>
    <td>05:55 PM - 06:45 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DRACONIAN</td>
    <td>SAT - 2022-06-25</td>
    <td>07:45 PM - 08:35 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>MY DYING BRIDE</td>
    <td>SAT - 2022-06-25</td>
    <td>09:45 PM - 10:45 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>KATATONIA</td>
    <td>SAT - 2022-06-25</td>
    <td>11:55 PM - 12:55 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>UNTITLED WITH DRUMS</td>
    <td>SAT - 2022-06-25</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>MOLASSESS</td>
    <td>SAT - 2022-06-25</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>MY OWN PRIVATE ALASKA</td>
    <td>SAT - 2022-06-25</td>
    <td>01:00 PM - 01:40 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>HÄLLAS</td>
    <td>SAT - 2022-06-25</td>
    <td>02:30 PM - 03:15 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>SLIFT</td>
    <td>SAT - 2022-06-25</td>
    <td>04:10 PM - 04:55 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>VILLAGERS OF IOANNINA CITY</td>
    <td>SAT - 2022-06-25</td>
    <td>05:55 PM - 06:45 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>MONKEY3</td>
    <td>SAT - 2022-06-25</td>
    <td>07:45 PM - 08:35 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>KADAVAR</td>
    <td>SAT - 2022-06-25</td>
    <td>09:45 PM - 10:45 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>CONVERGE : BLOOD MOON</td>
    <td>SAT - 2022-06-25</td>
    <td>11:55 PM - 12:55 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>GBH</td>
    <td>SAT - 2022-06-25</td>
    <td>10:50 PM - 11:50 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>GUILT TRIP</td>
    <td>SAT - 2022-06-25</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>MARTYRDÖD</td>
    <td>SAT - 2022-06-25</td>
    <td>12:15 PM - 12:55 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>STEREOTYPICAL WORKING CLASS</td>
    <td>SAT - 2022-06-25</td>
    <td>01:45 PM - 02:25 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>XIBALBA</td>
    <td>SAT - 2022-06-25</td>
    <td>03:20 PM - 04:05 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>THE RUMJACKS</td>
    <td>SAT - 2022-06-25</td>
    <td>05:00 PM - 05:50 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>TOUCHÉ AMORÉ</td>
    <td>SAT - 2022-06-25</td>
    <td>06:50 PM - 07:40 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>DISCHARGE</td>
    <td>SAT - 2022-06-25</td>
    <td>08:40 PM - 09:40 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>THE EXPLOITED</td>
    <td>SAT - 2022-06-25</td>
    <td>01:00 AM - 02:00 AM </td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>SPIRITBOX</td>
    <td>SUN - 2022-06-26</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>BOKASSA</td>
    <td>SUN - 2022-06-26</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>MAMMOTH WVH</td>
    <td>SUN - 2022-06-26</td>
    <td>01:25 PM - 02:05 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>UGLY KID JOE</td>
    <td>SUN - 2022-06-26</td>
    <td>02:55 PM - 03:35 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>AVATAR</td>
    <td>SUN - 2022-06-26</td>
    <td>06:30 PM - 07:30 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>BLACK LABEL SOCIETY</td>
    <td>SUN - 2022-06-26</td>
    <td>08:40 PM - 09:40 PM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>METALLICA</td>
    <td>SUN - 2022-06-26</td>
    <td>11:05 PM - 01:00 AM</td>
    <td>MAINSTAGE 1</td>
  </tr>

  <tr>
    <td>NOVELISTS</td>
    <td>SUN - 2022-06-26</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>ALIEN WEAPONRY</td>
    <td>SUN - 2022-06-26</td>
    <td>12:50 PM - 01:20 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>ILL NIÑO</td>
    <td>SUN - 2022-06-26</td>
    <td>02:10 PM - 02:50 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>TAGADA JONES</td>
    <td>SUN - 2022-06-26</td>
    <td>03:40 PM - 04:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>BULLET FOR MY VALENTINE</td>
    <td>SUN - 2022-06-26</td>
    <td>05:25 PM - 06:25 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>BRING ME THE HORIZON</td>
    <td>SUN - 2022-06-26</td>
    <td>07:35 PM - 08:35 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>SABATON</td>
    <td>SUN - 2022-06-26</td>
    <td>09:45 PM - 11:00 PM</td>
    <td>MAINSTAGE 2</td>
  </tr>

  <tr>
    <td>SORDIDE</td>
    <td>SUN - 2022-06-26</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>NYTT LAND</td>
    <td>SUN - 2022-06-26</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>SVART CROWN</td>
    <td>SUN - 2022-06-26</td>
    <td>01:25 PM - 02:05 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MIDNIGHT</td>
    <td>SUN - 2022-06-26</td>
    <td>02:55 PM - 03:35 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>CULT OF FIRE</td>
    <td>SUN - 2022-06-26</td>
    <td>04:30 PM - 05:20 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>ARCHGOAT</td>
    <td>SUN - 2022-06-26</td>
    <td>06:20 PM - 07:10 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MGLA</td>
    <td>SUN - 2022-06-26</td>
    <td>08:10 PM - 09:00 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>MERCYFUL FATE</td>
    <td>SUN - 2022-06-26</td>
    <td>10:00 PM - 11:00 PM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>TRIPTYKON</td>
    <td>SUN - 2022-06-26</td>
    <td>12:05 AM - 01:00 AM</td>
    <td>TEMPLE</td>
  </tr>

  <tr>
    <td>HIGH COMMAND</td>
    <td>SUN - 2022-06-26</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>CARNATION</td>
    <td>SUN - 2022-06-26</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DEMILICH</td>
    <td>SUN - 2022-06-26</td>
    <td>12:50 PM - 01:20 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>BLOOD INCANTATION</td>
    <td>SUN - 2022-06-26</td>
    <td>02:10 PM - 02:50 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>VLTIMAS</td>
    <td>SUN - 2022-06-26</td>
    <td>03:40 PM - 04:25 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>MEMORIAM</td>
    <td>SUN - 2022-06-26</td>
    <td>05:25 PM - 06:15 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>DESTRUCTION</td>
    <td>SUN - 2022-06-26</td>
    <td>07:15 PM - 08:05 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>NAPALM DEATH</td>
    <td>SUN - 2022-06-26</td>
    <td>09:05 PM - 09:55 PM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>CARCASS</td>
    <td>SUN - 2022-06-26</td>
    <td>11:05 PM - 12:00 AM</td>
    <td>ALTAR</td>
  </tr>

  <tr>
    <td>20 SECONDS FALLING MAN</td>
    <td>SUN - 2022-06-26</td>
    <td>10:30 AM - 11:00 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>THE ATOMIC BITCHWAX</td>
    <td>SUN - 2022-06-26</td>
    <td>11:40 AM - 12:10 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>YEAR OF NO LIGHT</td>
    <td>SUN - 2022-06-26</td>
    <td>12:50 PM - 01:20 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>REGARDE LES HOMMES TOMBER VS HANGMAN’S CHAIR</td>
    <td>SUN - 2022-06-26</td>
    <td>02:10 PM - 02:50 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>UFOMAMMUT</td>
    <td>SUN - 2022-06-26</td>
    <td>03:40 PM - 04:25 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>THOU</td>
    <td>SUN - 2022-06-26</td>
    <td>05:25 PM - 06:15 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>EYEHATEGOD</td>
    <td>SUN - 2022-06-26</td>
    <td>07:15 PM - 08:05 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>THE OBSESSED</td>
    <td>SUN - 2022-06-26</td>
    <td>09:05 PM - 09:55 PM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>ORANGE GOBLIN</td>
    <td>SUN - 2022-06-26</td>
    <td>11:05 PM - 12:00 AM</td>
    <td>VALLEY</td>
  </tr>

  <tr>
    <td>YEAR OF THE KNIFE</td>
    <td>SUN - 2022-06-26</td>
    <td>12:15 PM - 12:45 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>JUDICIARY</td>
    <td>SUN - 2022-06-26</td>
    <td>01:25 PM - 02:05 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>CLOWNS</td>
    <td>SUN - 2022-06-26</td>
    <td>11:05 AM - 11:35 AM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>INCENDIARY</td>
    <td>SUN - 2022-06-26</td>
    <td>02:55 PM - 03:35 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>TERROR</td>
    <td>SUN - 2022-06-26</td>
    <td>04:30 PM - 05:20 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>LIONHEART</td>
    <td>SUN - 2022-06-26</td>
    <td>06:20 PM - 07:10 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>MADBALL</td>
    <td>SUN - 2022-06-26</td>
    <td>08:10 PM - 09:00 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>COMEBACK KID</td>
    <td>SUN - 2022-06-26</td>
    <td>10:00 PM - 11:00 PM</td>
    <td>WARZONE</td>
  </tr>

  <tr>
    <td>SUICIDE SILENCE</td>
    <td>SUN - 2022-06-26</td>
    <td>12:05 AM - 01:00 AM </td>
    <td>WARZONE</td>
  </tr>

</table>
<br>
<hr>

<table>
  <tr class="header" id="site-details">
    <th style="width:25%;">Version</th>
    <th style="width:25%;">Repo</th>
    <th style="width:25%;">Contact</th>
    <th style="width:25%;">Changelog</th>
  </tr>
  <tr>
    <td align="center">0.3.0</td>
    <td align="center"><a href="https://tinyurl.com/hellfest-2022-find-bands" target="_blank" rel="noopener noreferrer">Show me the Code!</a></td>
    <td align="center"><a href="mailto:hellfest2022.bands.search@gmail.com?subject=Write the subject of message you are sending...">hellfest2022.bands.search (Gmail)</a></td>
    <td align="center"><a href="changelog" target="_blank" rel="noopener noreferrer">Features history</a></td>
  </tr>  
</table>

<script>
function searchEngine() {
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  //band search
  foundBand = false
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        foundBand = true;
      } else {
        tr[i].style.display = "none";
      }
    }
  } //end band search


  //show hour search
  foundHour = false 
  hourFlag = !foundBand || (filter == " AM") 
  for (i = 0; i < tr.length && hourFlag; i++) {
    td = tr[i].getElementsByTagName("td")[2];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.indexOf(filter) > -1) {
        tr[i].style.display = "";
        foundHour = true;
      } else {
        tr[i].style.display = "none";
      }
    }
  } //end show hour search


  // stage search
  foundStage = false
  stageFlag = !foundHour && ( !foundBand || (filter == "TEMPLE") )
  for (i = 0; i < tr.length && stageFlag; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
        foundStage =  true
      } else {
        tr[i].style.display = "none";
      }
    }
  } // end stage search

  
  // date search
  dateFlag = !foundBand && !foundStage && !foundHour
  for (i = 0; i < tr.length && dateFlag; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  } // date search

}


//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 400px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 400 || document.documentElement.scrollTop > 400) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}

</script>

</body>
</html>